<div class="jumbotron bg-light">
  <div class="col-md-8 p-lg-5 mx-auto my-5 text-light text-center">
    <h1 class="display-3"><% if user_signed_in? %>Hello <%= current_user.email %><% else %>Welcome <% end %>!</h1>
    <p class="lead">Come have a look at our events and meet people in the real life</p>
    <% if user_signed_in? %>
      <%= link_to "My profile", user_path(current_user.id), :class => "btn btn-primary btn-lg" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-info" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark text-light" %>
    <% end %>
  </div>
</div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info text-center" role="alert">
      <%= msg %>
    </div>
  <% end %>

  <div class="row">
    <% @events.all.reverse.each do |event| %>
    <div class="mb-3 col-lg-4 col-sm-6">
      <div class="card h-100 w-100">
        <div class="card-body">
          <h2 class="mt-1 text-center"><u><%= event.title %></u></h2>
          <p><%= event.description.first(250) %>...</p>
          <%= link_to "View details", event_path(event.id), class: "mb-1 btn btn-info" %>
          <div class="text-muted">
            <p>
              Location : <%= event.location %></br>
              Price : <%= event.price %>€
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<hr>

<footer class="container">
  <p>&copy; Eventbrite-magic, THP</p>
</footer>