<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello <% if user_signed_in? %><%= current_user.email %><% end %>!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg" %>
    <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<h1 class="text-dark">Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |event| %>
<% @event_id = event.id %>

  <h5><%= event.title %></h5>
<% end %>